---
import '@styles/post-container.css';

import { getCollection } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import PostCard from '@components/PostCard.astro';
import Hero from '@components/Hero.astro';

import { Formatter } from '@utils/formatter';

const blogContent = await getCollection('blog');
const recentPosts = blogContent
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);
---

<BaseLayout>
  <Hero
    tagline="Bienvenido al mundo de las ideas"
    title="Páginas en Blanco, Mentes Abiertas"
    subtitle="Guías de escritura creativa y retos para el autor moderno."
  />
  <div class="section-container">
    <div class="grid-container">
      {
        recentPosts.map((blogPost) => (
          <PostCard
            date={Formatter.formatDate(blogPost.data.date)}
            title={blogPost.data.title}
            desc={blogPost.data.desc}
            slug={blogPost.id}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
