---
import '@styles/post-content.css';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import PostHeader from '@components/PostHeader.astro';

export const getStaticPaths = (async () => {
  const blogPost = await getCollection('blog');
  return blogPost.map((post) => {
    return {
      params: { slug: post.id },
      props: { post: post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<BaseLayout>
  <PostHeader post={post} />
  <div class="post-main-layout-container">
    <aside class="post-sidebar-toc" id="toc-sidebar">
      <button class="post-sidebar-toc__toggle-btn" onclick="toggleTOC()">
        Tabla de Contenido <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="post-sidebar-toc__content-wrapper" id="toc-content">
        <span class="post-sidebar-toc__title">Tabla de Contenido</span>
        <ul class="post-sidebar-toc__list">
          {
            headings.map((h, index) => (
              <li class="post-sidebar-toc__list-item">
                <a
                  href={`#${h.slug}`}
                  class={`post-sidebar-toc__link ${index === 0 ? 'post-sidebar-toc__link--active' : ''}`}
                  data-toc-link
                >
                  {h.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>

    <article class="post-content-body-section">
      <Content />
    </article>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Toggle TOC en mobile
      window.toggleTOC = function () {
        const content = document.getElementById('toc-content');
        const icon = document.querySelector('.post-sidebar-toc__toggle-btn i');
        content?.classList.toggle('is-open');
        if (icon instanceof HTMLElement) {
          icon.style.transform = content?.classList.contains('is-open')
            ? 'rotate(180deg)'
            : 'rotate(0deg)';
        }
      };

      // Marcar enlace activo al hacer click
      const tocLinks = document.querySelectorAll('[data-toc-link]');

      tocLinks.forEach((link) => {
        link.addEventListener('click', () => {
          tocLinks.forEach((l) =>
            l.classList.remove('post-sidebar-toc__link--active'),
          );
          link.classList.add('post-sidebar-toc__link--active');
        });
      });
    });
  </script>
</BaseLayout>
