---
import '@styles/footer.css';
---

<footer class="post-footer-section">
  <div class="post-footer-section__social-container">
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-github"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-dribbble"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-facebook"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-twitter"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-instagram"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-youtube"></i></a
    >
    <a href="#" class="post-footer-section__social-icon"
      ><i class="fa-brands fa-pinterest"></i></a
    >
  </div>

  <div class="post-footer-section__bottom-bar">
    <div class="post-footer-section__copyright">
      Imaginantes <span class="post-footer-section__legal-text"
        >· © 2026, all rights reserved.</span
      >
    </div>

    <div class="post-footer-section__legal-text">
      Made with <i class="fa-solid fa-heart post-footer-section__heart"></i>
    </div>
  </div>
</footer>
