---
import '@styles/navbar.css';
---

<nav class="navbar">
  <div class="nav-logo">Imaginantes Fime</div>

  <button class="menu-toggle" aria-label="Obrir menú">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ul class="nav-links">
    <li>
      <a href="/"><i class="fa-regular fa-file-lines"></i> Home</a>
    </li>
    <li><a href="/blog/1"><i class="fa-regular fa-user"></i> Blog</a></li>
    <li>
      <a href="/exercises/1"><i class="fa-solid fa-box-open"></i> Ejercicios</a>
    </li>
  </ul>
</nav>

<script>
  const setupMenu = () => {
    const menuToggle = document.querySelector('.menu-toggle');
    const navLinks = document.querySelector('.nav-links');

    if (menuToggle && navLinks) {
      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active');
        navLinks.classList.toggle('active');
      });
    }
  };

  // S'executa quan carrega la pàgina
  setupMenu();

  // Si uses Astro amb View Transitions, afegeix això:
  document.addEventListener('astro:after-swap', setupMenu);
</script>
