---
import '@styles/navbar.css';
---

<nav class="navbar">
  <div class="nav-logo">Imaginantes Fime</div>

  <ul class="nav-links">
    <li>
      <a href="/"><i class="fa-regular fa-file-lines"></i> Home</a>
    </li>
    <li><a href="/blog/1"><i class="fa-regular fa-user"></i> Blog</a></li>
    <li>
      <a href="/exercises/1"><i class="fa-solid fa-box-open"></i> Ejercicios</a>
    </li>
  </ul>
</nav>
