---
import '@styles/post-pagination.css';
---

<nav class="blog-pagination">
  <a href="#" class="blog-pagination__item blog-pagination__arrow">
    <i class="fa-solid fa-chevron-left"></i>
  </a>
  <a href="#" class="blog-pagination__item blog-pagination__item--active">1</a>
  <a href="#" class="blog-pagination__item">2</a>
  <a href="#" class="blog-pagination__item">3</a>
  <a href="#" class="blog-pagination__item">4</a>
  <a href="#" class="blog-pagination__item">5</a>
  <a href="#" class="blog-pagination__item blog-pagination__arrow">
    <i class="fa-solid fa-chevron-right"></i>
  </a>
</nav>
